<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Vanilla Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Responsive Font Size (RFS) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-rfs/bootstrap-rfs.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300|Roboto:300&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f5e55803f2.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="bg-light d-flex justify-content-between align-items-center border">
      <h1><%= link_to "Wikinimous", articles_path, class: "my-3 mx-4 small text-decoration-none text-dark" %></h1>
      <%= link_to "New Article", new_article_path, class: "my-3 mx-4 text-decoration-none text-dark" %>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
